{% load staticfiles %}
<input type='hidden' id='loginusername' value='暂无'><input type='hidden' id='loginemail'
                                                          value='暂无'><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新闻资讯-广东成利建设集团有限公司</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/idangerous_swiper.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/SuperSlide.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.progress.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="index-box">
    <div id="head">
        <img src="{% static 'images/logo.png' %}">
        <div class="head-search">
            <form action="" method="post">
                <input type="text" name="keyword">
                <input type="submit" class="submit" value="搜索">
            </form>
        </div>
    </div>
</div>
<!--menu start-->
<div id="menu">
    <div class="menu-top">
        <ul>
            <li>
                <a href="http://www.zhcsgc.com/">首页</a></li>
            <li>
                <a href="/description.html">企业概况</a></li>
            <li>
                <a href="/logo.html">企业文化</a></li>
            <li>
                <a href="/rewards.html">工程业绩</a></li>
            <li class="select">
                <a href="/company_news.html">新闻资讯</a></li>
            <li>
                <a href="/recruitment.html">加入我们</a></li>
        </ul>
    </div>
    <!--中间部分-->
    <div class="banner-min"
         style="background:url(/upload/attached/image/20170301/20170301111148_71699.jpg) no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b>
                <h3>新闻资讯</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href="/company_news.html" class="menu-on">企业新闻</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href="/movement.html">行业动态</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href="/note.html">通知公告</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href="/others.html">其它资讯</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href="/">首页</a>-><a href="/company_news.html">新闻资讯</a>-><a
                        href="/company_news.html">企业新闻</a></span>
                </div>
                <div class="menu-content">
                    <!--内容详情页-->
                    <div class="news-list">
                        <ul>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_174.html">高新区领导莅临我司金鼎文化中心（广场）工程调研指导工作</a>
                                <span>(2017-04-01)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_177.html">碧涛花园第八期（1-4号楼及地下车库）住宅小区工程正式开工</a>
                                <span>(2017-03-31)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_176.html">中山建协2017年年会暨工程创优表彰大会顺利召开，我司荣获多项荣誉</a>
                                <span>(2017-03-31)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_178.html">饮水思源，共促双拥</a>
                                <span>(2017-01-14)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_55.html">中山市现场质量观摩会在广东建安昌盛公司嘉德花园项目召开</a>
                                <span>(2016-09-09)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_53.html">热烈祝贺港珠澳大桥安置房项目顺利提前封顶</a>
                                <span>(2016-08-01)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_52.html">热烈祝贺金海岸文化艺术中心工程顺利竣工</a>
                                <span>(2016-06-28)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_51.html">市住建局率队莅临我司万科海愉半岛项目检查</a>
                                <span>(2016-06-24)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_49.html">我司珠海民强福利商业大厦项目举行开工奠基典礼</a>
                                <span>(2016-05-09)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_48.html">省住建厅工会到广东建安昌盛工程有限公司走访王宏省劳模并召开座谈会</a>
                                <span>(2016-05-06)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_50.html">公司两项目荣获“珠海市房屋市政工程安全生产文明施工示范工地”称号</a>
                                <span>(2016-05-05)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_47.html">广东省房屋市政工程安全生产文明施工示范工地总结会在广州召开，我司受邀作安全生产文明施工经验介绍</a>
                                <span>(2016-03-22)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages"><a href="index_31_1.html" class="num">上一页</a><span class="current">1</span><a
                href="index_31_2.html">2</a><a href="index_31_2.html" class="num">下一页</a></div>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!--footer-->
<div style="clear:both;"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li><a href={% url 'gdcl:index' %}>首页</a></li>
            <li><a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li><a href={% url 'gdcl:works' %}>工程业绩</a></li>
            <li><a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <p>地址：珠海市香洲区九州大道中1009号钰海环球金融中心21层2107室</p>
    <br>
    <p>联系电话：</p>
    <span>版权所有©广东成利建筑集团有限公司 &nbsp;&nbsp;&nbsp;&nbsp;粤ICP备18010232号-1</span>


</div>
</div>
</html>