
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}企业概况-广东成利建设集团有限公司{% endblock title%}

{% block body %}
 <!--中间部分-->
    <div class="banner-min" style="background:url({% static 'images/20170301111253_45592.jpg' %}) no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b><h3>企业概况</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:description' %} class="menu-on">企业简介</a></li>
{#                    <li><i class="iconfont newsfont">&#xe6a3;</i>#}
{#                    <a href="/index_23.html" >昌盛建材</a></a>#}
{#                    <li><i class="iconfont newsfont">&#xe6a3;</i>#}
{#                    <a href="/index_22.html" >富茂钢结构</a></a>#}
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:boss' %}>董事长致辞</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:organization' %} >组织架构</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:certification' %} >公司资质</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:reputation' %}>公司荣誉</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href={% url 'gdcl:description' %}>企业概况</a>-><a href={% url 'gdcl:description' %}>企业简介</a></span>
                </div>
                <div class="menu-content">
                    {#   文字简介  #}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广东成利建设集团有限公司（简称广东成利），于2008年05月30日成立，企业注册资金6800万元。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广东成利从起初的园林绿化施工企业逐步成长为市政公用工程、建筑工程、园林绿化、地基基础工程、建筑机电安装工程、建筑装修装饰工程、环保工程、钢结构工程、建筑幕墙工程、水利水电工程施工等十余项工程施工资质。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广东成利，始终遵循“成效靠质安文明管理，利益重信誉科学经营”的企业使命，坚持贯彻“温厚至诚，精勤日新”企业理念，信奉“筑和厚生”的建筑哲学，坚守“工者至善”的技术精神，遵循“行仁重信”的商业伦理，追求和完善科学管理，以人才战略为依托，以具有高度社会责任感的企业形象面向社会，以优质、创新、诚信服务于各界。始终以建筑美好生活为己任，精心雕琢每一寸空间，倾心演绎建筑经典，矢志成为最专业、最值得信赖的建筑施工企业和最受尊敬的行业领跑者。<br/>
            </div>
        </div>
    </div>
{% endblock body %}












