{% load staticfiles %}
<input type='hidden' id='loginusername' value='暂无'><input type='hidden' id='loginemail'
                                                          value='暂无'><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业文化-广东成利建设集团有限公司 </title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/idangerous_swiper.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/SuperSlide.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.progress.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="index-box">
    <div id="head">
        <img src="{% static 'images/logo.png' %}">
        <div class="head-search">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="keyword">
                <input type="submit" class="submit" value="搜索">
            </form>
        </div>
    </div>
</div>
<!--menu start-->
<div id="menu">
    <div class="menu-top">
        <ul>
            <li>
                <a href={% url 'gdcl:index' %}>首页</a></li>
            <li>
                <a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li class="select">
                <a href={% url 'gdcl:logo' %}>企业文化</a></li>
            <li>
                <a href={% url 'gdcl:rewards' %}>工程业绩</a></li>
            <li>
                <a href={% url 'gdcl:company_news' %}>新闻资讯</a></li>
            <li>
                <a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <!--中间部分-->
    <div class="banner-min"
         style="background:url({% static 'images/20170301111230_24232.jpg' %}) no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b>
                <h3>企业文化</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:logo' %} class="menu-on">品牌标志</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:management' %}>管理理念</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:show' %}>形象展示</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:video' %}>企业视频</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:employee' %} >员工风采</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href={% url 'gdcl:index' %}>首页</a>-><a href={% url 'gdcl:logo' %}>企业文化</a>-><a
                        href={% url 'gdcl:logo' %}>品牌标志</a></span>
                </div>
                <div class="menu-content">
                    <!--内容详情页-->
                    <div class="qywh-top" style="margin-top:30px;">
                        <div id="qywh-top-left" style="float:left;width:50%;text-align:center;line-height:26px;">
                            <p>
                                绿色
                            </p>
                            <p>
                                Green color
                            </p>
                            <p>
                                孕育着生命，
                            </p>
                            <p>
                                Embodies life,
                            </p>
                            <p>
                                孕育着无限希望。
                            </p>
                            <p>
                                Embodies countless hope.
                            </p>
                            <p>
                                昌盛，以蓬勃的生机，
                            </p>
                            <p>
                                Changsheng,with its flourishing vitality,
                            </p>
                            <p>
                                诠释着
                            </p>
                            <p>
                                Interprets
                            </p>
                            <p>
                                她，
                            </p>
                            <p>
                                Its,
                            </p>
                            <p>
                                不变的真谛
                            </p>
                            Uuchanged true meaning
                        </div>
                        <div class="qywh-top-right" style="width:50%;float:left;">
                            <img src="/template/default/img/biaozhi01.jpg" style="margin-top:85px;"/>
                        </div>
                    </div>
                    <div class="qywh-top" style="margin-top:50px;">
                        <div class="qywh-top-right" style="width:50%;float:left;">
                            <img src="/template/default/img/hand.jpg" style="margin-top:15px;margin-left:70px;"/>
                        </div>
                        <div id="qywh-top-left" style="float:left;width:50%;text-align:center;line-height:26px;">
                            <p>
                                看到她，
                            </p>
                            <p>
                                Seeing it
                            </p>
                            <p>
                                你是否想到很多……
                            </p>
                            <p>
                                Reminds you of many,many……
                            </p>
                            <p>
                                绿色－生命，希望
                            </p>
                            <p>
                                Geen－life,hope point;
                            </p>
                            <p>
                                圆满中的突破－破茧后的新生
                            </p>
                            <p>
                                Breakthrough in roundness－rebirth of phoenix;
                            </p>
                            <p>
                                道路－通向远方的地平线
                            </p>
                            <p>
                                Road－horizon towards far away;
                            </p>
                            <p>
                                群体耸立－团结的力量……
                            </p>
                            Upright group－united strength……
                        </div>
                    </div>
                    <div class="qywh-top" style="margin-top:50px;">
                        <div id="qywh-top-left" style="float:left;width:50%;text-align:center;line-height:26px;">
                            <p>
                                那你，一定感受到了，
                            </p>
                            <p>
                                You must feel,
                            </p>
                            <p>
                                勃勃的生机
                            </p>
                            <p>
                                Flourishing vitality,
                            </p>
                            <p>
                                奋发向上的力量
                            </p>
                            <p>
                                Stieeing enterprising force!
                            </p>
                            <p>
                                这，就是昌盛的标志，
                            </p>
                            <p>
                                This，is mark of Changsheng，
                            </p>
                            <p>
                                这就是昌盛！
                            </p>
                            This is Changsheng !
                        </div>
                        <div class="qywh-top-right" style="width:50%;float:left;">
                            <img src="/template/default/img/medal.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!--footer-->
<div style="clear:both;"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li><a href={% url 'gdcl:index' %}>首页</a></li>
            <li><a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li><a href={% url 'gdcl:rewards' %}>工程业绩</a></li>
            <li><a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <p>地址：珠海市香洲区九州大道中1009号钰海环球金融中心21层2107室</p>
    <p>联系电话：</p>
    <span>版权所有©广东成利建设集团有限公司 &nbsp;&nbsp;&nbsp;&nbsp;粤ICP备18010232号-1</span>

</div>
</div>
</html>