{% load staticfiles %}
<input type='hidden' id='loginusername' value='暂无'><input type='hidden' id='loginemail'
                                                          value='暂无'><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新闻资讯-广东成利建设集团有限公司</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/idangerous_swiper.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/SuperSlide.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.progress.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="index-box">
    <div id="head">
        <img src="{% static 'images/logo.png' %}">
        <div class="head-search">
            <form action="" method="post">
                <input type="text" name="keyword">
                <input type="submit" class="submit" value="搜索">
            </form>
        </div>
    </div>
</div>
<!--menu start-->
<div id="menu">
    <div class="menu-top">
        <ul>
            <li>
                <a href={% url 'gdcl:index' %}>首页</a></li>
            <li class="select">
                <a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li>
                <a href={% url 'gdcl:logo' %}>企业文化</a></li>
            <li>
                <a href={% url 'gdcl:rewards' %}>工程业绩</a></li>
            <li>
                <a href={% url 'gdcl:company_news' %}>新闻资讯</a></li>
            <li>
                <a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <!--中间部分-->
    <div class="banner-min"
         style="background:{% static 'images/20170301111148_71699.jpg' %} no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b>
                <h3>新闻资讯</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:company_news' %} class="menu-on">企业新闻</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:movement' %}>行业动态</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:note' %}>通知公告</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:others' %}>其它资讯</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href={% url 'gdcl:index' %}>首页</a>-><a href={% url 'gdcl:company_news' %}>新闻资讯</a>-><a
                        href={% url 'gdcl:movement' %}>行业动态</a></span>
                </div>
                <div class="menu-content">
                    <!--内容详情页-->
                    <div class="news-list">
                        <ul>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_60.html">急需打造更务实的“2.0版”绿色建筑</a>
                                <span>(2015-01-28)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_59.html">珠海将推“两金”治“欠薪”</a>
                                <span>(2015-01-26)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_58.html">2015造价员《土建工程》：民用建筑的分类</a>
                                <span>(2015-01-23)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_57.html">珠海大剧院等4重点项目将申报“鲁班奖”</a>
                                <span>(2015-01-20)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_56.html">住建部:11月千余个建筑工程项目存在市场违法行为</a>
                                <span>(2015-01-08)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!--footer-->
<div style="clear:both;"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li><a href={% url 'gdcl:index' %}>首页</a></li>
            <li><a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li><a href={% url 'gdcl:rewards' %}>工程业绩</a></li>
            <li><a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <p>地址：珠海市香洲区九州大道中1009号钰海环球金融中心21层2107室</p>
    <br>
    <p>联系电话：</p>
    <span>版权所有©广东成利建筑集团有限公司 &nbsp;&nbsp;&nbsp;&nbsp;粤ICP备18010232号-1</span>


</div>
</div>
</html>