
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}企业概况-广东成利建设集团有限公司{% endblock title%}

{% block body %}
    <!--中间部分-->
    <div class="banner-min"
         style="background:url({% static 'images/20170301111253_45592.jpg' %}) no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b>
                <h3>企业概况</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:description' %}>企业简介</a></li>
{#                    <li><i class="iconfont newsfont">&#xe6a3;</i>#}
{#                    <a href="/index_23.html" >昌盛建材</a></a>#}
{#                    <li><i class="iconfont newsfont">&#xe6a3;</i>#}
{#                    <a href="/index_22.html" >富茂钢结构</a></a>#}
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:boss' %}>董事长致辞</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:organization' %} class="menu-on">组织架构</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:certification' %}>公司资质</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:reputation' %}>公司荣誉</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href={% url 'gdcl:index' %}>首页</a>-><a href={% url 'gdcl:description' %}>企业概况</a>-><a
                        href={% url 'gdcl:organization' %}>组织架构</a></span>
                </div>
                <div class="menu-content">
                    <!--内容详情页-->
                    <img src="{% static 'images/20170302102723_94171.gif'%}" alt=""/></div>
            </div>
        </div>
    </div>

{% endblock body %}