{#这个是所有的基础界面，之后要改的只要基于base继承即可#}
{% load staticfiles %}
<input type='hidden' id='loginusername' value='暂无'><input type='hidden' id='loginemail'
                                                          value='暂无'><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/idangerous_swiper.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/SuperSlide.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.progress.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="index-box">
    <div id="head">
        <img src="{% static 'images/logo.png' %}">
        <div class="head-search">
            <form action="" method="post">
                <input type="text" name="keyword">
                <input type="submit" class="submit" value="搜索">
            </form>
        </div>
    </div>
</div>
<!--menu start-->
<div id="menu">
    <div class="menu-top">
        <ul>
            <li>
                <a href={% url 'gdcl:index' %}>首页</a></li>
            <li class="select">
                <a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li>
                <a href={% url 'gdcl:culture' %}>企业文化</a></li>
            <li>
                <a href={% url 'gdcl:works' %}>工程业绩</a></li>
            <li>
                <a href={% url 'gdcl:news' %}>新闻资讯</a></li>
            <li>
                <a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <!--中间部分-->
    <div class="banner-min"
         style="background:{% static 'images/20170301111148_71699.jpg' %} no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b>
                <h3>新闻资讯</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:company_news' %} class="menu-on">企业新闻</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:movement' %}>行业动态</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:note' %}>通知公告</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href={% url 'gdcl:others' %}>其它资讯</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href={% url 'gdcl:index' %}>首页</a>-><a href={% url 'gdcl:company_news' %}>新闻资讯</a>-><a
                        href={% url 'gdcl:others' %}>其它资讯</a></span>
                </div>
                <div class="menu-content">
                    <!--内容详情页-->
                    <div class="news-list">
                        <ul>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_81.html">公司承建的高新区金鼎文化中心（广场）工程举行开工仪式</a>
                                <span>(2017-03-21)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_80.html">热烈庆祝我司北京师范大学-香港浸会大学（UIC）新校区二期工程-宿舍项目顺利封顶</a>
                                <span>(2017-03-14)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_79.html">热烈庆祝广东建安昌盛工程有限公司32周年庆典暨2016年年会顺利举行</a>
                                <span>(2016-12-31)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_78.html">广东建安昌盛工程有限公司承建的丞富商贸大厦举行开工仪式</a>
                                <span>(2016-12-07)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_77.html">广东建安昌盛公司珠海金湾中心医院项目举行落成揭牌仪式</a>
                                <span>(2016-09-30)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_76.html">热烈庆祝广东建安昌盛公司中山锦江尚苑项目提前封顶</a>
                                <span>(2016-09-21)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_75.html">中山市现场质量观摩会在广东建安昌盛公司嘉德花园项目召开</a>
                                <span>(2016-09-09)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_74.html">广东建安昌盛公司代表队在珠海市建筑业技能竞赛中勇夺第一</a>
                                <span>(2016-08-19)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_73.html">热烈祝贺港珠澳大桥安置房项目顺利提前封顶</a>
                                <span>(2016-08-01)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_72.html">热烈祝贺金海岸文化艺术中心工程顺利竣工</a>
                                <span>(2016-06-28)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_71.html">市住建局率队莅临我司万科海愉半岛项目检查</a>
                                <span>(2016-06-24)</span>
                            </li>
                            <li>
                                <i class="iconfont newsfont">&#xe6a3;</i>
                                <a href="/info_68.html">我司珠海民强福利商业大厦项目举行开工奠基典礼</a>
                                <span>(2016-05-09)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages"><a href="index_28_1.html" class="num">上一页</a><span class="current">1</span><a
                href="index_28_2.html">2</a><a href="index_28_2.html" class="num">下一页</a></div>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!--footer-->
<div style="clear:both;"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li><a href={% url 'gdcl:index' %}>首页</a></li>
            <li><a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li><a href={% url 'gdcl:rewards' %}>工程业绩</a></li>
            <li><a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <p>地址：珠海市香洲区九州大道中1009号钰海环球金融中心21层2107室</p>
    <br>
    <p>联系电话：</p>
    <span>版权所有©广东成利建设集团有限公司 &nbsp;&nbsp;&nbsp;&nbsp;粤ICP备18010232号-1</span>


</div>
</div>
</html>