{% load staticfiles %}
<input type='hidden' id='loginusername' value='暂无'><input type='hidden' id='loginemail'
                                                          value='暂无'><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>工程业绩-广东成利建设集团有限公司</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/idangerous_swiper.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/SuperSlide.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'js/idangerous.swiper.progress.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="index-box">
    <div id="head">
        <img src="{% static 'images/logo.png' %}">
        <div class="head-search">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="keyword">
                <input type="submit" class="submit" value="搜索">
            </form>
        </div>
    </div>
</div>
<!--menu start-->
<div id="menu">
    <div class="menu-top">
        <ul>
            <li>
                <a href={% url 'gdcl:index' %}>首页</a></li>
            <li>
                <a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li>
                <a href={% url 'gdcl:logo' %}>企业文化</a></li>
            <li class="select">
                <a href={% url 'gdcl:rewards' %}>工程业绩</a></li>
            <li>
                <a href={% url 'gdcl:company_news' %}>新闻资讯</a></li>
            <li>
                <a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <!--中间部分-->
    <div class="banner-min"
         style="background:url({% static 'images/20170301111206_19121.jpg' %}) no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b>
                <h3>工程业绩</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:rewards' %} >获奖工程</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:project_show' %}>项目展示</a></li>
                    <li><i class="iconfont newsfont">></i>
                        <a href={% url 'gdcl:project_photo' %} class="menu-on">项目实拍</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href={% url 'gdcl:index' %}>首页</a>-><a href={% url 'gdcl:rewards' %}>工程业绩</a>-><a
                        href={% url 'gdcl:project_photo' %}>项目实拍</a></span>
                </div>
                <div class="menu-content">
                    <div class="hjgc">
                        <ul>
                            <li>
                                <a href={% url 'gdcl:yqsz' %}>
                                    <div><img src="{% static 'images/yqsz.png' %}"></div>
                                    <p>银泉山庄</p>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'gdcl:ylgc' %}>
                                    <div><img src="{% static 'images/ylgc.png' %}"></div>
                                    <p>鱼林广场</p>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'gdcl:zhgxhmt' %}>
                                    <div><img src="{% static 'images/zhgxhmt.png' %}"></div>
                                    <p>珠海港鑫和码头</p>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'gdcl:zhsdjzxjxl' %}>
                                    <div><img src="{% static 'images/zhsdjzxjxl.png' %}"></div>
                                    <p>珠海市第九中学教学楼</p>
                                </a>
                            </li>
                            <li>
                                <a href={% url 'gdcl:bthxx' %}>
                                    <div><img src="{% static 'images/bthxx.png' %}"></div>
                                    <p>白藤湖小学</p>
                                </a>
                            </li>
{#                            <li>#}
{#                                <a href="/info_91.html">#}
{#                                    <div><img src="/upload/attached/image/20170427/20170427172119_82221.jpg"></div>#}
{#                                    <p>绅威游艇</p>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="/info_90.html">#}
{#                                    <div><img src="/upload/attached/image/20170427/20170427172029_76681.jpg"></div>#}
{#                                    <p>赛纳宿舍楼</p>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="/info_89.html">#}
{#                                    <div><img src="/upload/attached/image/20170427/20170427171916_78723.jpg"></div>#}
{#                                    <p>赛纳</p>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="/info_88.html">#}
{#                                    <div><img src="/upload/attached/image/20170427/20170427171824_31770.jpg"></div>#}
{#                                    <p>南水汽车客运站</p>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="/info_87.html">#}
{#                                    <div><img src="/upload/attached/image/20170427/20170427171706_25744.jpg"></div>#}
{#                                    <p>锦绣四季花园</p>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="/info_86.html">#}
{#                                    <div><img src="/upload/attached/image/20170427/20170427171516_87512.jpg"></div>#}
{#                                    <p>金海岸文化艺术中心</p>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="/info_85.html">#}
{#                                    <div><img src="/upload/attached/image/20170427/20170427171433_30541.jpg"></div>#}
{#                                    <p>嘉珠时代广场</p>#}
{#                                </a>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="pages"><a href="index_10_1.html" class="num">上一页</a><span class="current">1</span><a#}
{#                href="index_10_2.html">2</a><a href="index_10_2.html" class="num">下一页</a></div>#}
{#    </div>#}
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!--footer-->
<div style="clear:both;"></div>
<div id="footer">
    <div class="foot-top">
        <ul>
            <li><a href={% url 'gdcl:index' %}>首页</a></li>
            <li><a href={% url 'gdcl:description' %}>企业概况</a></li>
            <li><a href={% url 'gdcl:rewards' %}>工程业绩</a></li>
            <li><a href={% url 'gdcl:contact' %}>加入我们</a></li>
        </ul>
    </div>
    <p>地址：珠海市香洲区九州大道中1009号钰海环球金融中心29层2907-08室</p>
    <p>联系电话：</p>
    <span>版权所有©广东成利建筑集团有限公司 &nbsp;&nbsp;&nbsp;&nbsp;粤ICP备18010232号-1</span>

</div>
</div>
</html>