<input type='hidden' id='loginusername' value='暂无'><input type='hidden' id='loginemail'
                                                          value='暂无'><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页-广东成利建筑集团有限公司 </title>
    <link rel="stylesheet" href="/template/default/css/default.css"/>
    <link rel="stylesheet" href="/template/default/css/style.css"/>
    <link rel="stylesheet" href="/template/default/css/idangerous.swiper.css">
    <script src="/template/default/js/jquery.min.js"></script>
    <script src="/template/default/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/template/default/js/idangerous.swiper.min.js"></script>
    <script src="/template/default/js/idangerous.swiper.progress.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="index-box">
    <div id="head">
        <img src="/template/default/img/logo.png">
        <div class="head-search">
            <form action="" method="post">
                <input type="text" name="keyword">
                <input type="submit" class="submit" value="搜索">
            </form>
        </div>
    </div>
</div>
<!--menu start-->
<div id="menu">
    <div class="menu-top">
        <ul>
            <li>
                <a href="http://www.zhcsgc.com/">首页</a></li>
            <li>
                <a href="/description.html">企业概况</a></li>
            <li>
                <a href="/logo.html">企业文化</a></li>
            <li class="select">
                <a href="/rewards.html">工程业绩</a></li>
            <li>
                <a href="/company_news.html">新闻资讯</a></li>
            <li>
                <a href="/recruitment.html">加入我们</a></li>
        </ul>
    </div>
    <!--中间部分-->
    <div class="banner-min"
         style="background:url(/upload/attached/image/20170301/20170301111206_19121.jpg) no-repeat top center;"></div>
    <div id="banner-middle">
        <div class="qygk-left">
            <div class="qygk-left-top">
                <b></b>
                <h3>工程业绩</h3>
            </div>
            <div class="qygk-left-bottom">
                <ul>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href="/rewards.html" >获奖工程</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href="/project_show.html" class="menu-on">项目展示</a></li>
                    <li><i class="iconfont newsfont">&#xe6a3;</i>
                        <a href="/project_photo.html">项目实拍</a></li>
                </ul>
            </div>
        </div>
        <div class="qygk-right">
            <div class="munu-info">
                <div id="location">
                    <b></b><span>当前位置 -> <a href="/">首页</a>-><a href="/rewards.html">工程业绩</a>-><a
                        href="/project_show.html">项目展示</a></span>
                </div>
                <div class="menu-content">
                    <div class="hjgc">
                        <ul>
                            <li>
                                <a href="/info_125.html">
                                    <div><img src="/upload/attached/image/20170504/20170504174333_22677.jpg"></div>
                                    <p>横琴创意谷</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_124.html">
                                    <div><img src="/upload/attached/image/20170504/20170504174259_74461.jpg"></div>
                                    <p>港珠澳大桥珠海连接线项目安置房工程</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_123.html">
                                    <div><img src="/upload/attached/image/20170504/20170504174132_51423.jpg"></div>
                                    <p>碧涛花园</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_122.html">
                                    <div><img src="/upload/attached/image/20170504/20170504174039_33781.jpg"></div>
                                    <p>珠海市委党校停车场及教学楼项目</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_121.html">
                                    <div><img src="/upload/attached/image/20170504/20170504173941_79178.jpg"></div>
                                    <p>珠海市金湾区人民医院</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_120.html">
                                    <div><img src="/upload/attached/image/20170504/20170504172958_34082.jpg"></div>
                                    <p>珠海博胜游艇制造有限公司1#厂房、3#宿舍楼、5#厂房</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_119.html">
                                    <div><img src="/upload/attached/image/20170504/20170504172904_32048.jpg"></div>
                                    <p>圆明新园中心剧场加顶工程</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_118.html">
                                    <div><img src="/upload/attached/image/20170504/20170504172610_58648.jpg"></div>
                                    <p>有轨电车静调厂房</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_117.html">
                                    <div><img src="/upload/attached/image/20170504/20170504172458_34525.jpg"></div>
                                    <p>万科海愉半岛花园</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_116.html">
                                    <div><img src="/upload/attached/image/20170504/20170504172402_87201.jpg"></div>
                                    <p>索菲亚（珠海）电子科技有限公司厂区一期工程</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_115.html">
                                    <div><img src="/upload/attached/image/20170504/20170504172308_96878.jpg"></div>
                                    <p>美吉丽鼎通大厦项目</p>
                                </a>
                            </li>
                            <li>
                                <a href="/info_114.html">
                                    <div><img src="/upload/attached/image/20170504/20170504171648_99519.jpg"></div>
                                    <p>嘉珠时代广场项目</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages"><a href="index_11_1.html" class="num">上一页</a><span class="current">1</span><a
                href="index_11_2.html">2</a><a href="index_11_3.html">3</a><a href="index_11_2.html" class="num">下一页</a>
        </div>
    </div>
    <!--footer-->
    <!--footer-->
    <div style="clear:both;"></div>
    <div id="footer">
    <div class="foot-top">
        <ul>
            <li>联系我们</li>
{#            <li><a href="">企业概况</a></li>#}
{#            <li><a href="">工程业绩</a></li>#}
{#            <li><a href="">加入我们</a></li>#}
        </ul>
    </div>
    <p>地址：珠海市香洲区九州大道中1009号钰海环球金融中心21层2107室</p>
    <br>
    <p>联系电话：</p>
    <span>版权所有©广东成利建筑集团有限公司 &nbsp;&nbsp;&nbsp;&nbsp;粤ICP备18010232号-1</span>   //备号需要修改


</div>
</div>